.post_block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.color_white{
    color: white;
    text-shadow: 0px 0px 2px black;
}
.post_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.block_info{
  padding: 10px;
  width: 100%;
    border-radius: 10px;
    margin-bottom: 5px;
    background: #ffffffb8;

}


.block_create{
    padding: 10px;
    background: #ffffffb8;
    border-radius: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}
.button{
    width: 100%;
    font-size: 13px;
    border-radius: 5px;
    border: 1px solid #b8b4b4;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
    background: rgb(156 182 229 / 81%);
}