

body {
  color: var(--color-text);
  background: #fff;
}

.main{
width: 650px;
margin: auto;
}

a{
  margin: 0 5px 0 5px;
  text-decoration: none;
}
.flex-center{
  display: flex;
  justify-content: center;
}
.block_info{
  padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    background: #ffffffb8;
}
.block{
  background-color: rgb(97, 143, 227);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 40px;
}
.tx-center{
  text-align: center;
}
.button{
  padding: 10px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}